---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

body {
	background-color: #fff;
	color: #000;
}

a .nav-link {
	color: #fff;
}
#TopNavbar {
	background-color: #960B23;
}

.lead {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;
